
accounts/__pycache__/
accounts/migrations/
proveedores/__pycache__/
proveedores/migrations/
suppliers/__pycache__/
suppliers/migrations/
proveedores/__pycache__/
proveedores/migrations/
insumos/__pycache__/
insumos/migrations/
ordendecompra/__pycache__/
ordendecompra/migrations/
datawholecake/__pycache__/
datawholecake/settings.py/
