
accounts/__pycache__/
accounts/migrations/
suppliers/__pycache__/
suppliers/migrations/
ordendecompra/__pycache__/
ordendecompra/migrations/
datawholecake/__pycache__/
ventas/__pycache__/
ventas/migrations/
media/
datawholecake/__pycache__/
datawholecake/settings.py
productos/__pycache__/
productos/migrations/
supplies/__pycache__/
supplies/migrations/
